@if (flagSignal()) {
  @for (item of testarray; track $index) {
    <div>{{item}}</div>
  }

  @for (item of testSubject | async; track $index) {
    <div>{{item}}</div>
  }

  @for (item of testSignal(); track $index) {
    <div bold initFontSize="25px">{{item}}</div>
  }
}

<form [formGroup]="testForm">
  <input formControlName="login" />

  <input formControlName="password" />
</form>

<button [disabled]="testForm.invalid" (click)="login()">
  Войти
</button>

<app-something (testevent)="eventReact($event)" [value1]="data1" [value2]="data2">
  <div>
    Мы сюда что-то передали
  </div>
</app-something>

<div #test>
  абракадабра
</div>